// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url('https://fonts.googleapis.com/css?family=Pacifico');

// Variables
@import "variables";

// Libraries
@import "libs";

// Styles
@import "styles/global";

img {
  width: 100%;
  height: auto;
}

body {
  .navbar-custom {
    height: 220px;
    background-image: url('/images/Header.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .marquee {
    height: 23px;
    background-color: white;
  }

  .main-block {
    background-image: url('/images/Background.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .footer-custom {
    height: 100px;
    background-image: url('/images/Footer.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.h-1040 {
  height: 1040px;
}
.form-bg {
   background-color: #D9DCE1;
}

.btn-bg {
  background-color: #222938;
  border-color: #222938;
  &:hover {
    background-color: #D9DCE1;
    border-color: #D9DCE1;
  }
  &:active {
    background-color: #D9DCE1;
    border-color: #D9DCE1;
  }
  &:focus {
    background-color: #D9DCE1;
    border-color: #D9DCE1;
  }
}

@media only screen and (max-width : 1021px) {
  .header-logo {
    display: none;
  }
}


@media only screen and (max-width : 990px) {

  body{
    .left-side-bar{
      display: none;
    }
  }
}

@media only screen and (max-width : 855px) {

  body{
    .content-block {
      min-height: 450px;
    }
  }
}


@media only screen and (max-width : 1100px) {
  body {
    .main-block {
      background-image: none;
    }
  }
}